@page "/404"

<PageTitle>Not Found</PageTitle>

<div class="text-center p-4 mt-1">
    <img class="p-2" style="width:30%;" src="/images/errors/404.png">
    <h1 class="text-danger" style="font-weight:600;font-size:2.8rem;">404</h1>
    <p style="font-weight:500;font-size:1.5rem;">Oops! The requested resource is nowhere to be found.</p>
    <a href="/" class="btn btn-success btn-lg shadow-none">
        <span class="oi oi-home"></span> Return Home
    </a>
</div>