@page "/unauthorized"

<PageTitle>Unauthorized</PageTitle>

<div class="text-center p-4">
    <img class="p-2" style="width:30%;" src="/images/errors/unauthorized.png">
    <h1 class="text-danger" style="font-weight:600;font-size:2.8rem;">Access Denied!</h1>
    <p style="font-weight:500;font-size:1.5rem;">Flash your VIP pass to gain authorization.</p>
    <a href="/" class="btn btn-success btn-lg shadow-none">
        <span class="oi oi-home"></span> Back to Safety
    </a>
</div>
