@* @page "/categories/create/"
@inject IHttpClientFactory ClientFactory
@inject NavigationManager _navManager
@attribute [Authorize(Roles = "Staff")]

<div class="container-fluid px-4">
    <h3 class="card-title mt-4 mb-3">Create New Category</h3>
    <FormComponent ButtonText="Create Category" OnValidSubmit="CreateCategory" category="category" />
</div>

@code {
    private HttpClient _client;
    Category category = new Category();

    protected override void OnInitialized()
    {
        _client = ClientFactory.CreateClient("private");
    }

    private async Task CreateCategory()
    {
        await _client.PostAsJsonAsync(Endpoints.CategoriesEndpoint, category);
        _navManager.NavigateTo("/categories/");
    }
}
 *@