@page "/companies/"
@inject IHttpClientFactory ClientFactory

<h3 class="card-title p-4">Companies</h3>

@if (Companies == null)
{
    <div class="alert alert-info">Loading Companies...</div>
}
else
{
	<div class="container-fluid px-4">
		<div class="row row-cols-1 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
			@foreach (var company in Companies)
			{
				<div class="col">
					<div class="card text-center h-100 rounded-5">
						<img src="@company.LogoUri" class="card-img-top rounded-top-5" alt="@company.Name Image">
						<div class="card-body p-2 m-0">
							<h5 class="card-title">@company.Name</h5>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}

@code {
	private HttpClient _client;
	private List<Company>? Companies;

	protected override void OnInitialized()
	{
		_client = ClientFactory.CreateClient("public");
	}

	protected async override Task OnInitializedAsync()
	{
		Companies = await _client.GetFromJsonAsync<List<Company>>($"{Endpoints.CompaniesEndpoint}");
	}
}
