@inherits LayoutComponentBase
@inject HttpInterceptorService _interceptor
@implements IDisposable

<div class="page">
    <div>
        <NavMenu />
    </div>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code
{
    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
