@inject NavigationManager Navigation

<nav class="navbar navbar-expand-xl fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Houseware Reviews</a>
        <button
            class="navbar-toggler collapsed d-flex d-xl-none flex-column justify-content-around"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <nav class="navbar-nav justify-content-center flex-grow-1">
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="d-xl-none oi oi-home " aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="#categories" Match="NavLinkMatch.All">
                        <span class="d-xl-none oi oi-grid-two-up" aria-hidden="true"></span> Categories
                    </NavLink>
                </div>
                <div class="nav-item px-1">
                    <NavLink class="nav-link" href="#companies" Match="NavLinkMatch.All">
                        <span class="d-xl-none oi oi-briefcase" aria-hidden="true"></span> Companies
                    </NavLink>
                </div>
                <hr class="d-xl-none divider" style="margin: 5px auto; width:97%"/>
                <AuthorizeView>
                    <NotAuthorized>
                        <div class="d-xl-none nav-item px-1">
                            <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                                <span class="oi oi-account-login" aria-hidden="true"></span> Login
                            </NavLink>
                        </div>
                        <div class="d-xl-none nav-item px-1">
                            <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                                <span class="oi oi-plus" aria-hidden="true"></span> Register
                            </NavLink>
                        </div>
                    </NotAuthorized>
                    <Authorized>
                        <div class="d-xl-none dropdown">
                            <div class="nav-item px-1">
                                <button type="button" class="btn-profile btn btn-secondary dropdown-toggle shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                    <NavLink class="nav-link" href="#">
                                        <span class="oi"><span class="profile oi-person" aria-hidden="true"></span></span> @context.User.Identity?.Name
                                    </NavLink>
                                </button>
                                <div class="dropdown-menu nav-item" style="margin: 0px 8px 8px 8px;">
                                    <NavLink class="nav-link" href="authentication/profile">
                                        <span class="oi oi-cog" aria-hidden="true"></span> Manage Profile
                                    </NavLink>
                                    <NavLink class="nav-link" href="#" @onclick="BeginLogOut">
                                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                                    </NavLink>
                                </div>
                            </div>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <div class="px-1">
                    <div class="search-container px-2">
                        <form class="search-bar" action="#" method="get">
                            <button type="submit"><span class="oi oi-magnifying-glass"></span></button>
                            <input type="search" name="q" autocomplete="off" placeholder="Search category, product or company" />
                        </form>
                    </div>
                </div>
            </nav>
            <AuthorizeView>
                <NotAuthorized>
                    <div class="d-none d-xl-flex align-items-center gap-3">
                        <div class="btn-login btn rounded-5 shadow-none border-0">
                            <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                                Log In
                            </NavLink>
                        </div>
                        <div class="btn-register btn rounded-5 shadow-none border-0">
                            <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                                Register
                            </NavLink>
                        </div>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <div class="d-none d-xl-flex btn-group">
                        <div class="nav-item px-1">
                            <button type="button" class="btn-profile btn btn-secondary dropdown-toggle shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                <NavLink class="nav-link" href="#">
                                    <span class="oi"><span class="profile oi-person" aria-hidden="true"></span></span>
                                </NavLink>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end nav-item" style="margin: 8px 0px 0px 0px;">
                                <NavLink class="nav-link" href="#">
                                    <span class="oi"><span class="profile oi-person" aria-hidden="true"></span></span> @context.User.Identity?.Name
                                </NavLink>
                                <hr class="dropdown-divider divider" />
                                <NavLink class="nav-link" href="authentication/profile">
                                    <span class="oi oi-cog" aria-hidden="true"></span> Manage Profile
                                </NavLink>
                                <NavLink class="nav-link" href="#" @onclick="BeginLogOut">
                                    <span class="oi oi-account-logout" aria-hidden="true"></span> Log Out
                                </NavLink>
                            </div>
                        </div>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}