@page "/"
@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Houseware Reviews - Home</PageTitle>

<div id="furnitureCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="/images/backgrounds/defaulthome1.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/backgrounds/defaulthome2.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/backgrounds/defaulthome3.jpg" class="d-block w-100">
        </div>
        <div class="carousel-caption" style="top:40%; text-align:center">
            <h3 style="font-size:3.8vw;"><b>Welcome to Houseware Reviews!</b></h3>
            <p style="font-size:2vw;">Discover the best products for your home.</p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#furnitureCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" id="nextFurnitureCarouselBtn" type="button" data-bs-target="#furnitureCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>

<AuthorizeView Roles="Staff">
    <div>

    </div>
</AuthorizeView>

@code {
    public async Task startAutoplayCarousel()
    {
        await JS.InvokeVoidAsync("startAutoplayCarousel");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("startAutoplayCarousel");
    }
}
