@page "/products/company/{CompanyId:int}/create"
@inject IHttpClientFactory ClientFactory
@inject NavigationManager _navManager
@attribute [Authorize(Roles ="Staff")]

<div class="container-fluid px-4">
    <h4 class="card-title mt-4 mb-3">Create New @company.Name Product</h4>
	<FormComponent ButtonText="Create Product" OnValidSubmit="CreateProduct" product="product" CompanyId="CompanyId" />
</div>

@code {
	[Parameter] public int CompanyId { get; set; }
	private HttpClient _client;
	Product? product = new Product();
	Company? company = new Company();

	protected override void OnInitialized()
	{
		_client = ClientFactory.CreateClient("private");
	}

	protected async override Task OnParametersSetAsync()
	{
		company = await _client.GetFromJsonAsync<Company>($"{Endpoints.CompaniesEndpoint}/{CompanyId}");
	}

	private async Task CreateProduct()
	{
		await _client.PostAsJsonAsync(Endpoints.ProductsEndpoint, product);
		_navManager.NavigateTo($"/products/company/{CompanyId}");
	}
}
