@page "/products/company/{CompanyId:int}/view/{ProductId:int}"
@inject IHttpClientFactory ClientFactory
@inject NavigationManager _navManager
@attribute [Authorize(Roles = "Staff")]

<div class="container-fluid px-4">
	<h3 class="card-title mt-4 mb-3">View @company.Name Product</h3>
	<FormComponent product="product" Disabled="true" CompanyId="CompanyId" />
</div>

@code {
	[Parameter] public int CompanyId { get; set; }
	[Parameter] public int ProductId { get; set; }
	private HttpClient _client;
	Product? product = new Product();
	Company? company = new Company();

	protected override void OnInitialized()
	{
		_client = ClientFactory.CreateClient("private");
	}

	protected async override Task OnParametersSetAsync()
	{
		product = await _client.GetFromJsonAsync<Product>($"{Endpoints.ProductsEndpoint}/{ProductId}");
		company = await _client.GetFromJsonAsync<Company>($"{Endpoints.CompaniesEndpoint}/{CompanyId}");
	}
}