@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="d-flex align-items-center row rounded-4 m-0" style="background-color: var(--white)">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
