@page
@model IndexModel
@{
    ViewData["Title"] = "Manage Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="col-xl-12 p-0">
	<div class="px-5 py-3">
		<h2 class="form-title m-0">@ViewData["Title"]</h2>
	</div>
</div>

<div class="col-xl-6 p-0">
	<div class="px-5 pb-3">
	</div>
</div>
<div class="col-xl-6 p-0">
    <div class="px-5 pb-3">
		<form id="profile-form" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-floating">
				<input asp-for="Username" class="form-control form-input" placeholder="username" disabled />
				<label asp-for="Username" class="form-label">NRIC</label>
			</div>
			<div class="row mx-0">
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.FirstName" class="form-control form-input" placeholder="firstname" />
					<label asp-for="Input.FirstName" class="form-label">First Name</label>
					<small><span asp-validation-for="Input.FirstName" class="text-danger"></span></small>
				</div>
				<div class="col-xl-1"></div>
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.LastName" class="form-control form-input" placeholder="lastname" />
					<label asp-for="Input.LastName" class="form-label">Last Name</label>
					<small><span asp-validation-for="Input.LastName" class="text-danger"></span></small>
				</div>
			</div>
			<div class="row mx-0 mb-3">
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.Email" class="form-control form-input" placeholder="email" />
					<label asp-for="Input.Email" class="form-label">Email</label>
					<small><span asp-validation-for="Input.Email" class="text-danger"></span></small>
				</div>
				<div class="col-xl-1"></div>
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.ContactNumber" class="form-control form-input" placeholder="phonenumber" />
					<label asp-for="Input.ContactNumber" class="form-label">Phone Number</label>
					<small><span asp-validation-for="Input.ContactNumber" class="text-danger"></span></small>
				</div>
			</div>
			<button id="update-profile-button" type="submit" class="w-25 form-input-button rounded-5">Save</button>
			
			@* 


			<div class="form-floating">
				<input asp-for="Input.ContactNumber" class="form-control form-input" autocomplete="phone-number" aria-required="true" placeholder="phonenumber" />
				<label asp-for="Input.ContactNumber" class="form-label">Phone Number</label>
				<small><span asp-validation-for="Input.ContactNumber" class="text-danger"></span></small>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
				<label asp-for="Username" class="form-label"></label>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
				<label asp-for="Input.PhoneNumber" class="form-label"></label>
				<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
			</div> *@
			@* <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button> *@
		</form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
