@page
@model IndexModel
@{
    ViewData["Title"] = "Manage Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="col-xl-12 p-0">
	<div class="px-5 py-4">
		<h2 class="form-title text-center text-xl-start m-0">@ViewData["Title"]</h2>
	</div>
</div>

<form id="profile-form" class="row align-items-center" method="post" enctype="multipart/form-data">
<div class="col-xl-6 p-0">
	<div class="px-5 pb-3 text-center">
		<img id="profile-img" class="mt-xl-4 mt-3 mb-3 form-image" src="@Model.ProfileImgUri" />
		<br />
		<label asp-for="Input.ProfileImgFile" for="profile-image-input" class="form-input-button rounded-5">Upload Image</label>
		<input asp-for="Input.ProfileImgFile" type="file" id="profile-image-input" class="d-none" accept="image/png, image/jpeg" onchange="previewProfileImg(this)" />
	</div>
</div>
<div class="col-xl-6 p-0">
		<div class="px-5 pb-3">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-floating">
				<input asp-for="Username" class="form-control form-input" placeholder="username" disabled />
				<label asp-for="Username" class="form-label">NRIC</label>
			</div>
			<div class="row mx-0">
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.FirstName" class="form-control form-input" placeholder="firstname" />
					<label asp-for="Input.FirstName" class="form-label">First Name</label>
					<small><span asp-validation-for="Input.FirstName" class="text-danger"></span></small>
				</div>
				<div class="col-xl-1"></div>
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.LastName" class="form-control form-input" placeholder="lastname" />
					<label asp-for="Input.LastName" class="form-label">Last Name</label>
					<small><span asp-validation-for="Input.LastName" class="text-danger"></span></small>
				</div>
			</div>
			<div class="row mx-0">
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.Email" class="form-control form-input" placeholder="email" />
					<label asp-for="Input.Email" class="form-label">Email</label>
					<small><span asp-validation-for="Input.Email" class="text-danger"></span></small>
				</div>
				<div class="col-xl-1"></div>
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.ContactNumber" class="form-control form-input" placeholder="phonenumber" />
					<label asp-for="Input.ContactNumber" class="form-label">Phone Number</label>
					<small><span asp-validation-for="Input.ContactNumber" class="text-danger"></span></small>
				</div>
			</div>
			<div class="row mx-0 mb-3">
				<div class="col-xl p-0 form-floating">
					<input asp-for="Input.NewPassword" oninput="checkNull(this)" class="form-control form-input" placeholder="newpassword." />
					<label asp-for="Input.NewPassword" class="form-label">New Password</label>
					<small><span asp-validation-for="Input.NewPassword" class="text-danger"></span></small>
				</div>
				<div class="col-xl-1 d-none" id="password-divider"></div>
				<div class="col-xl p-0 form-floating d-none" id="old-password">
					<input asp-for="Input.OldPassword" id="old-password-field" class="form-control form-input" placeholder="currentpassword"/>
					<label asp-for="Input.OldPassword" class="form-label">Current Password</label>
					<small><span asp-validation-for="Input.OldPassword" class="text-danger"></span></small>
				</div>
			</div>
			<div class="d-flex justify-content-center justify-content-xl-end gap-5 gap-xl-4">
				<button type="button" class="btn btn-danger rounded-5 shadow-none" style="width: 90px;" data-bs-toggle="modal" data-bs-target="#confirm-delete">
					Delete
				</button>
				<div class="modal fade" id="confirm-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirm-delete-label" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="confirm-delete-label">Confirm Delete Account</h1>
								<button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								This action cannot be undone.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary shadow-none" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-danger shadow-none" name="submitButton" value="deleteProfile">Confirm</button>
							</div>
						</div>
					</div>
				</div>
				<button id="update-profile-button" type="submit" name="submitButton" value="updateProfile" class="btn btn-success rounded-5 shadow-none" style="width: 90px;">Save</button>
			</div>
		</div>
	</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
	<script>
		var profileImg = document.getElementById("profile-img");
		var profileImgSrc = profileImg.getAttribute("src");
		var passwordDivider = document.getElementById("password-divider");
		var oldPassword = document.getElementById("old-password");
		var oldPasswordField = document.getElementById("old-password-field");

		function previewProfileImg(input) {
			var file = input.files[0];

			if (file) {
				var reader = new FileReader();
				reader.onload = function (e) {
					profileImg.src = e.target.result;
				};
				reader.readAsDataURL(file);
			} else {
				profileImg.src = profileImgSrc;
			}
		}

		function checkNull(input) {
			if (input.value == "") {
				passwordDivider.classList.add("d-none");
				oldPassword.classList.add("d-none");
			} else {
				passwordDivider.classList.remove("d-none");
				oldPassword.classList.remove("d-none");
				oldPasswordField.value = "";
			}
		}
	</script>
}
